.categoryRoot {
    composes: CommonContainer from '../../styles/Containers.module.css';
    margin-bottom: 72px;
}

.postsLine {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.postsLineMin {
    justify-content: left;
    gap: 32px;
}

@media screen and (max-width: 1260px){
    .postsLine{
        display: grid;
        grid-template-columns: repeat(3, max-content);
        justify-content: space-between;
        align-content: space-around;
        gap: 20px;
    }

}

@media screen and (max-width: 952px){
    .postsLine{
        grid-template-columns: repeat(2, max-content);
        width: min-content;
    }
}

@media screen and (max-width: 683px){
    .postsLine{
        display: flex;
        width: 100%;
        flex-direction: column;
    }
}