.bannerRoot {
    composes: SimpleFlex from "../../styles/Containers.module.css";
    justify-content: space-between;
    min-height: 672px;
    /*min-width: 1280px;*/
    margin: 0 auto;
}

.topSide {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 32px;
    height: min-content;
}

.leftSide {
    width: 100%;
    max-width: 952px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.topSideMini {
    display: none;
}

.miniSide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rightSide {
    min-width: 296px;
}

@media screen and (max-width: 1420px){
    .leftSide{
        padding-right: 32px;
    }
}

@media screen and (max-width: 955px){
    .leftSide {
        padding-right: 0;
    }
    .leftSideMini {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .topSide {
        display: none;
    }

    .topSideMini{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        gap: 20px;
    }
}

@media screen and (max-width: 683px){
    .rightSide{
        height: 260px;
    }
}