.heading {
    font-family: var(--fontFamily);
    color: var(--text-primary);
    font-weight: bold;
    font-stretch: normal;
    letter-spacing: normal;
    user-select: text;
}


.one {
    composes: heading;
    font-size: 48px;
    line-height: 1.12;
    margin: 0 0 var(--spacing-s) 0
}

.two {
    composes: heading;
    font-size: 40px;
    line-height: 1.2;
}

.three {
    composes: heading;
    font-size: 28px;
    line-height: 1.27;
}

.four {
    composes: heading;
    font-size: 20px;
    line-height: 1.33;
}

.five {
    composes: heading;
    font-size: 20px;
    line-height: 1.2;
}

.six {
    composes: heading;
    font-size: 18px;
    line-height: 1.2;
}


@media screen and (max-width: 4000px) {
    .one {
        font-size: 48px;
        margin: 0 0 var(--spacing-s) 0;
    }
}


@media screen and (max-width: 768px){
    .one {
        font-size: 40px;
        margin: 0 0 var(--spacing-s) 0;
    }
}

@media screen and (max-width: 425px){
    .one {
        font-size: 32px;
        margin: 0 0 var(--spacing-s) 0;
    }
}

@media screen and (max-width: 375px){
    .one {
        font-size: 20px;
        margin: 0 0 var(--spacing-s) 0;
    }

}

@media screen and (max-width: 320px){
    .one {
        font-size: 18px;
        margin: 0 0 var(--spacing-s) 0
    }
}