@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body {
    margin: 0;
    user-select: none;
}

.emoji-mart-emoji{
    position:relative;
    display:inline-block;
    font-size:0;
    outline: none;
    border: none;
    margin:0;
    padding:0;
    border:none;
    background:none;
    box-shadow:none
}

.emoji-mart-emoji span{
    user-select: none;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

#searchContent::-webkit-scrollbar {
    width: 0;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}