body { 
    margin: 0;
}

.reactions {
    position: absolute;
    top: 60%;
    left: 5%;
    transform: translate(0, 50%);

}
.reactions .reactions-counter {
    display: flex;
}

.reactions .emoji-mart-anchors {
    display: none;
}
.reactions .emoji-mart-search {
    display: none;
}

.reactions .emoji-mart-bar {
    display: none;
}
.reactions .emoji-mart-scroll {
    overflow: auto;
    width: fit-content;
    margin: 0;
    padding: 0;
    height: auto;
}


.reactions .emoji-mart-category-label {
    display: none;
}