.tagWrapper {
    border-radius: 40px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.10);
    background-color: var(--primary);
    margin: 10px var(--spacing-m) 10px 0;
    padding: var(--spacing-xxs) 32px;
    transition: all 0.1s ease-out;
}

.tagWrapper:hover{
     background-color: var(--hover);
     box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.50);
     transform: translateY(-3px);
}

.tagWrapperMini {
    composes: tagWrapper;
    border-radius: 10px;
}

