@import "../../Layouts/styles/actionMenu.module.css";

.dropDown {
    z-index: 99;
    position: fixed;
    overflow: hidden;
    transition: opacity 120ms ease-in-out 0s, height 120ms ease-in-out 0s;
    display: none;
    opacity: 0;
}