.link {
    font-family: var(--fontFamily);
    font-size: 42px;
    font-weight: 600;
    text-align: center;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.30;
    margin: 10px 0;
    text-transform: lowercase;
    text-decoration: none;
    letter-spacing: 0.4px;
    color: var(--text-onPrimary);
}

.link:active{
    color: var(--text-hover);
}