.error {
    border-color: var(--primary);
}


.search {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.27;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    padding: var(--spacing-s);
    font-family: var(--fontFamily);
    color: var(--text-onPrimary);
    width: 250px;
    outline: 0;
    border: 0;
    background-color: transparent;
    border-bottom: 4px solid var(--text-disabled);
}

.search::placeholder{
    color: var(--text-disabled);
}


.loginLabel {
    font-family: var(--fontFamily);
    margin: 0 25px 0 0;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.32;
    letter-spacing: normal;
    color: var(--primary);
}

.loginInput {
    outline: none;
    padding: 0 20px;
    font-size: 24px;
    min-height: 48px;
    border-radius: 8px;
    text-align: center;
    color: var(--text-primary);
    background: var(--backgroundPrimary);
    border: solid 2px var(--backgroundSecondary);
    margin: 0 auto;
}

.loginInput:focus{
    border: solid 2px var(--backgroundInvert);
}

.loginInput::placeholder{
    color: var(--text-disabled);
}

@media screen and (min-width: 677px){
    .search {
        width: 624px;
    }
}

@media screen and (max-width: 500px){
    .search {
        width: 624px;
    }
}

@media screen and (min-width: 1110px){
    .loginInput {
        min-width: 364px;
    }
}

@media screen and (max-width: 1110px){
    .loginInput {
        min-width: 95%;
    }
}