.miniCardRoot {
    height: 132px;
    display: flex;
    width: min-content;
    cursor: pointer;
    background-color: var(--backgroundPrimary);
    transition: all 0.4s ease;
    padding-bottom: 2px;
    border: 2px var(--backgroundPrimary) solid;
    overflow: hidden;
}

.miniCardImage {
    width: 128px;
    height: 128px;
    padding: 5px;
    object-fit: cover;
    transition: all 0.4s ease;
}

.miniCardText {
    width: 168px;
    padding: 14px var(--spacing-xs);
}

.miniCardRoot:hover .miniCardImage{
    filter: brightness(75%);
}

.miniCardRoot:hover{
    border-color: var(--backgroundSecondary);
}