.postRoot {
    position: relative;
    width: 296px;
    height: 324px;
}

.postImage {
    width: 296px;
    height: 248px;
    z-index: 1;
    top: 0;
    left: 0;
    position: absolute;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    transition: all 0.4s ease;
}

.postTextCard {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 264px;
    height: max-content;
    min-height: 118px;
    background-color: var(--backgroundPrimary);
    padding: var(--spacing-xs) var(--spacing-s);
    z-index: 2;
    transition: all 0.4s ease;
}

.postRoot:hover .postImage {
    filter: brightness(75%);
}

.postRoot:hover .postTextCard {
    transform: translateY(30px);
}


@media screen and (max-width: 683px){
    .postRoot{
        width: 100%;
        height: 326px;
        margin-bottom: var(--spacing-block);
    }

    .postImage{
        width: 100%;
        height: 248px;
    }

    .postTextCard {
        width: 100%;
        min-height: 110px;
    }
}