.pageRoot {
    height: 100vh;
    width: 100vw;
    background: var(--backgroundInverted);
    display: flex;
    transition: all 0.4s ease-in-out;
}


.cover {
    width: calc( 100% * (3 / 5));
    height: 100vh;
    object-fit: cover;
}

.rightSide {
    width: calc( 100% * (2 / 5));
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    width: 150px;
    height: 150px;
    margin: 0 auto 0 auto;
}

.subtitle {
    composes: rootFont from "../components/Typography/styles/compose.module.css";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0;
    text-align: center;
    color: var(--backgroundPrimary);
    margin-top: 12px;
    margin-bottom: 30px;
}

.inputError {
    composes: rootFont from "../components/Typography/styles/compose.module.css";
    color: var(--primary);
    max-width: 364px;
    display: flex;
    margin: 0 auto 5px auto !important;

    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0;
}

.input {
    outline: none !important;
    background: var(--backgroundPrimary) !important;
    border-radius: 8px !important;
    max-width: 364px !important;
    height: 48px !important;
    margin: 0 auto 10px auto!important;
    text-align: center !important;
}

.input::placeholder {
    text-align: center;
}

.botLinks {
    composes: rootFont from "../components/Typography/styles/compose.module.css";
    max-width: 364px;
    width: 100%;
    display: flex;
    margin: 8px auto 0 auto;

    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0;
}

.botLinks a {
    color: var(--backgroundPrimary);
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.botLinks a:hover {
    color: var(--primary);
}

.loginButton {
    width: 100% !important;
    max-width: 364px !important;
    margin: 40px auto 25px auto !important;
}

@media screen and (max-width: 978px){
    .subtitle {
        font-size: 20px;
    }

    .logo {
        width: 100px;
        height: 100px;
        margin: 0 auto 0 auto;
    }

    .cover {
        width: 50%;
    }

    .rightSide {
        width: 50%;
    }
}

@media screen and (max-width: 763px){
    .cover {
        width: 40%;
    }

    .rightSide {
        width: 60%;
    }
}

@media screen and (max-width: 676px){
    .cover {
        display: none;
    }

    .rightSide {
        width: 100%;
    }
}

@media screen and (max-width: 400px){
    .botLinks {
        max-width: 300px !important;
    }

    .inputError{
        max-width: 300px !important;
    }

    .input{
        max-width: 300px !important;
    }

    .loginButton {
        max-width: 300px !important;
        margin-top: 20px !important;
        margin-bottom: 15px !important;
    }
}